<template>
  <input type="text"
         ref="textInput"
         :placeholder="placeholder"
         :value="value" 
         @input="handleInput"
         @keyup.enter="handleEnter">
</template>

<script>
export default {
    props: {
        value: String,
        placeholder: String
    },
    data() {
        return {
            content: this.value
        }
    },
    methods: {
        handleInput(e) {
            this.content = e.target.value;
            this.$emit('input', this.content);
        },
        handleEnter() {
            if (!this.content) return;
            this.$emit('handleEnter', this.content);
            this.clearInput();
        },
        clearInput() {
            const el = this.$refs.textInput;
            el.value = '';
            el.dispatchEvent(new Event('input'));
        }
    }
};
</script>

<style scoped>
</style>