<template>
  <li @mouseenter="mouseOver = true" @mouseleave="mouseOver = false">
    <p class="text-opacity">{{ hobby }}</p>
    <!-- controllers -->
    <img
      v-show="mouseOver"
      @click="removeHobby($vnode.key)"
      src="@/assets/icons/close.png"
      class="remove-ctrl"
      alt="Кнопка удаления"
    />
  </li>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  name: "HobbyListItemSelf",
  props: {
    hobby: String,
  },
  data() {
    return {
      mouseOver: false,
    };
  },
  methods: {
    ...mapMutations(["removeHobby"]),
  },
};
</script>

<style lang='scss' scoped>
li {
  padding-left: 15px;
  margin-bottom: 10px;
  position: relative;
  p {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    &.text-opacity::after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 60px;
      height: 100%;
      right: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(45deg, transparent, #fff);
    }
  }
  img.remove-ctrl {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
</style>