<template>
  <li @mouseenter="mouseOver = true" @mouseleave="mouseOver = false">
    <p class="hobby-text">{{ hobby }}</p>
    <span v-show="hobbyExistsInSelf(hobby)" class="success-alert">
      <img src="@/assets/icons/ok.png" alt="Иконка успешного добавления" />
      <span>Добавлено в ваши увлечения</span>
    </span>

    <!-- controllers -->
    <template v-if="!hobbyExistsInSelf(hobby) && mouseOver">
      <img
        @click="addHobbyToSelf(hobby)"
        src="@/assets/icons/add.gif"
        class="add-ctrl"
        alt="Кнопка добавления в свои хобби"
      />
      <p @click="reportHobby" class="report-ctrl">
        <img src="@/assets/icons/warn.png" alt="Пожаловаться иконка" />
        <span>пожаловаться</span>
      </p>
    </template>
  </li>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";

export default {
  name: "HobbyListItemFriend",
  props: {
    hobby: String,
  },
  computed: {
    ...mapGetters(["hobbyExistsInSelf"]),
  },
  data() {
    return {
      mouseOver: false,
    };
  },
  methods: {
    ...mapMutations(["addHobbyToSelf"]),
    reportHobby() {
      prompt('Текст жалобы');
    }
  },
};
</script>

<style lang='scss' scoped>
li {
  padding-left: 15px;
  margin-bottom: 10px;
  position: relative;
  p.hobby-text {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 60px;
      height: 100%;
      right: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(45deg, transparent, #fff);
    }
  }
  img.add-ctrl {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  p.report-ctrl {
    display: flex;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: #fff;
    padding: 10px;
    img {
      margin-right: 4px;
    }
  }
  .success-alert {
    color: green;
    display: flex;
    margin-top: 4px;
    img {
      margin-right: 4px;
    }
  }
}
</style>