<template>
  <div class="hobby-wrapper">
    <h2>{{ title }}</h2>
    <h3 class="title-line">Хобби</h3>
    <section>
      <input-text
        v-if="aboutSelfMode"
        @handleEnter="addHobbyToSelf($event)"
        class="hobby-input"
        placeholder="Введите текст"
      />
      <ul>
        <component
          v-for="(hobby, idx) in slicedList"
          :key="idx"
          :hobby="hobby"
          :is="currentListComponent"
        >
        </component>
      </ul>
      <span
        class="expand-button"
        @click="showFullList = !showFullList"
        v-if="needToSlice"
      >
        {{
          showFullList ? "скрыть" : declension(list.length - maxListElements)
        }}
      </span>
    </section>
  </div>
</template>

<script>
import { mapMutations } from "vuex";

import HobbyListItemSelf from "./HobbyListItemSelf.vue";
import HobbyListItemFriend from "./HobbyListItemFriend.vue";

export default {
  name: "HobbyWrapper",
  components: { HobbyListItemSelf, HobbyListItemFriend },
  props: {
    title: String,
    list: Array,
    aboutSelfMode: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      showFullList: false,
      maxListElements: 2,
    };
  },
  computed: {
    needToSlice() {
      return this.list.length > this.maxListElements;
    },
    slicedList() {
      if (!this.needToSlice) return this.list;
      return this.showFullList
        ? this.list
        : this.list.slice(0, this.maxListElements);
    },
    currentListComponent() {
      return this.aboutSelfMode ? "HobbyListItemSelf" : "HobbyListItemFriend";
    },
  },
  methods: {
    ...mapMutations(["addHobbyToSelf"]),
    declension(number) {
      const words = ["интерес", "интереса", "интересов"];
      const decl =
        words[
          number % 100 > 4 && number % 100 < 20
            ? 2
            : [2, 0, 1, 1, 1, 2][number % 10 < 5 ? number % 10 : 5]
        ];
      return `ещё ${number} ${decl}`;
    },
  },
};
</script>

<style lang='scss' scoped>
.hobby-wrapper {
  .title-line {
    overflow: hidden;
  }
  .title-line::after {
    content: "";
    display: inline-block;
    height: 0.45em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid #a1a1a1;
  }
  h2 {
    box-shadow: 0px 3px 0px 0px rgb(0, 0, 0);
    padding: 4px 0;
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 30px;
  }
  h3 {
    margin-bottom: 30px;
  }
  section {
    padding: 0 20px;
    .hobby-input {
      margin-bottom: 20px;
    }
    .expand-button {
      color: #cb8609;
      text-decoration: underline;
      cursor: pointer;
      transition: all 0.1s ease;
      margin-left: 15px;
      &:hover {
        color: #e79600;
      }
    }
  }
}
</style>