<template>
  <div class="home">
    <hobby-wrapper
      :list="SELF_HOBBY_LIST"
      title="О себе"
      aboutSelfMode
    />
    <hobby-wrapper
      :list="FRIEND_HOBBY_LIST"
      title="Интересы друга"
    />
  </div>
</template>

<script>
import { mapState } from "vuex";
import HobbyWrapper from "./components/HobbyWrapper.vue";

export default {
  name: "Home",
  components: { HobbyWrapper },
  computed: {
    ...mapState(['SELF_HOBBY_LIST', 'FRIEND_HOBBY_LIST'])
  },
};
</script>

<style lang="scss" scoped>
.home {
  max-width: 650px;
  margin: 0 auto;
  & > * {
    margin-bottom: 40px;
  }
}
</style>
